{% extends "base.html" %}

{% block content %}
    {% if success_tasks %}
        <h1> Успешно выполненные задачи</h1>
        {% for task in success_tasks %}
            <div><p>{{ task.task }}{{ task.args }},begin: {{task.begin}},
                duration: {{task.duration}}, result: {{ task.result }}</b></p></div>
        {% endfor %}
    {% else %}
        <h1> Успешно выполненных задач не найдено</h1>
    {% endif %}

    {% if future_tasks %}
        <h1> Невыполненные задачи</h1>
        {% for task in failure_tasks %}
            <div><p>{{ task.task }}{{ task.args }},traceback:{{ task.result }}</b></p></div>
        {% endfor %}
    {% else %}
        <h1> Невыполненных задач не найдено</h1>
    {% endif %}
{% endblock %}